@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Bold.woff2') format('woff2'),
        url('HelveticaNeue-Bold.woff') format('woff'),
        url('HelveticaNeue-Bold.otf') format('opentype'),
        url('HelveticaNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Medium.woff2') format('woff2'),
        url('HelveticaNeue-Medium.woff') format('woff'),
        url('HelveticaNeue-Medium.otf') format('opentype'),
        url('HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Light.woff2') format('woff2'),
        url('HelveticaNeue-Light.woff') format('woff'),
        url('HelveticaNeue-Light.otf') format('opentype'),
        url('HelveticaNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Thin.woff2') format('woff2'),
        url('HelveticaNeue-Thin.woff') format('woff'),
        url('HelveticaNeue-Thin.otf') format('opentype'),
        url('HelveticaNeue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karma Suture';
    src: url('KarmaSuture-Regular.woff2') format('woff2'),
        url('KarmaSuture-Regular.woff') format('woff'),
        url('KarmaSuture-Regular.otf') format('opentype'),
        url('KarmaSuture-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karma Future';
    src: url('KarmaFuture-Regular.woff2') format('woff2'),
        url('KarmaFuture-Regular.woff') format('woff'),
        url('KarmaFuture-Regular.otf') format('opentype'),
        url('KarmaFuture-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.k-suture{
    font-family: 'Karma Suture';
}

.k-future{
    font-family: 'Karma Future';
}